<p-card>
  @if(joke !== undefined) {
  <div class="flex mb-2 gap-2 justify-content-between">
    <p-tag [value]="joke.type" />
    <div class="flex gap-2">
      <p-button
        icon="pi pi-volume-up"
        [rounded]="true"
        [text]="true"
        [raised]="true"
      />
      <p-button
        icon="pi pi-pencil"
        [rounded]="true"
        [text]="true"
        [raised]="true"
      />
      <p-button
        icon="pi pi-trash"
        [rounded]="true"
        [text]="true"
        [raised]="true"
      />
    </div>
  </div>
  <p>
    {{ joke.setup }}
  </p>

  <p-divider />
  <p>{{ joke.punchline }}</p>
  }
</p-card>
