<div class="card">
  <div class="flex mb-4 gap-2 justify-content-center">
    <p-tabMenu 
    [model]="menuItems" 
    [activeItem]="activeMenuItem"
    (activeItemChange)="onActiveMenuItemChange($event)" />

    <p-button
      class="ml-auto"
      icon="pi pi-plus"
      [rounded]="true"
      severity="success"
      (click)="visible = true"
    />
  </div>

  @if(viewOption === 'list') {
  <corp-joke-list></corp-joke-list>
  } @else if (viewOption === 'random') {
  <corp-random-joke></corp-random-joke>
  }
</div>

@if(visible) {
  <p-dialog
    header="Add a New Joke"
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '50rem' }"
  >
    <corp-joke-add (cancel)="visible = false"></corp-joke-add>
  </p-dialog>
}
