<p-toast />

<span class="p-text-secondary block mb-5"
  >Use Generative AI to add a new Joke. Refresh to generate a new one</span
>
@if(loadingState === 'loading') {
    <p-card class="mb-5">
        <p-skeleton styleClass="mb-2" />
        <p-skeleton styleClass="mb-2" />
    </p-card>
} @else if(loadingState === 'success'){
    <p-card class="mb-5">
        <p class="font-semibold">{{ joke()?.setup }}</p>
        <p class="font-semibold">{{ joke()?.punchline }}</p>
    </p-card>
} @else {
    <p class="font-semibold">An error has occurred. Please try again later</p>
}

<div class="flex justify-content-end gap-2 mt-3">
  <p-button
    class="mr-auto"
    icon="pi pi-refresh"
    [rounded]="true"
    severity="success"
    [outlined]="true"
    (click)="generateNewJoke()"
    [disabled]="loadingState === 'loading'"
  />
  <p-button label="Cancel" severity="secondary" (click)="cancelAction()"/>
  <p-button label="Save" [disabled]="loadingState !== 'success'" (click)="save()"/>
</div>
