<div class="container">
  <div class="flex justify-content-center gap-5 mb-4">
    <div class="flex align-items-center gap-2">
      <label>Sort By:</label>
      <p-dropdown [options]="sortByOptions" [(ngModel)]="sortByOption" />
    </div>
    <div class="flex align-items-center gap-2">
      <label>Page Size: </label>
      <p-dropdown [options]="pageSizeOptions" [(ngModel)]="pageSizeOption" />
    </div>
  </div>
  <div class="body gap-3">
    @for (joke of jokeList() | async; track $index) {
    <corp-joke-item [joke]="joke"></corp-joke-item>
    }
  </div>

  <div class="footer pt-5">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="0"
      [rows]="pageSizeOption()"
      [totalRecords]="jokeTotalRecords()"
      [pageLinkSize]="3"
    />
  </div>
</div>
